@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

.card {
  height: 150px;
  width: 320px;
  /* margin-left: 30%; */
  background-color: #fff;
  box-shadow:inset -3px 3px 20px rgba(211, 211, 211, 0.7);

  /* box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945); */
  border-radius: 15px;
  text-align: center;
  margin-top: 0;
}
.container {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr)); */
  grid-gap: 1rem;
  /* margin-left: 30px; */
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}
h4{
    font-family: 'Spartan' , monospace;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 900;
}
p{
    margin-top: 0;
    text-align: center;
    font-size: 15px;
    font-family: 'Spartan' , monospace;
}
.recent-posts{
  font-size: 17px;
  margin-bottom: 0;
  font-weight: 700;
  color: rgba(28, 29, 32,0.6);
  display: flex;
  margin-top: 40px;
  /* margin-left: -181px; */
  justify-content: center;
}